body {
    background-color: #1C1C1C;
    display: flex; 
    min-height: 100vh; 
    justify-content: center; 
    align-items: center;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    padding-top: 8px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.h1 {
    line-height: 50%;
}

#top-text {
    font-family: 'Karla', 'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#bottom-text {
    font-family: 'Karla', 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #34D399;
    font-size: 2.5rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 12px;
}

.heading-container h2 {
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #D5D4D8;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 12px;
}

.generate-password-button {
   border: none;
   color: #FFFFFF;
   width: 191px;
   height: 42px;
   background-color: #10B981;
   text-decoration: none;
   display: inline-block;
   border-radius: 4px;
   font-family: 'Inter', 'Times New Roman', Times, serif;
   font-weight: 500;
   font-size: 1rem;
   margin-top: 20px;
   margin-bottom: 32px;
   cursor: pointer;
   overflow: hidden;
   transition-duration: 0.4s;
}

button:hover {
    background-color: #9dff9d;
    color: #1C1C1C;
}

button:active {
    background-color: #d6ffd6;
    color: #1C1C1C;
    transition-duration: 0.05s;
}

.password-form input {
    margin-top: 32px;
    border: none;
    border-radius: 6px;
    background-color: #273549;
    width: 211px;
    height: 29px;
    color: #55F991;
    font-family: 'Inter', 'Times New Roman', serif;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    text-align: center;
    margin-right: 10px;
}

.password-form i {
    color: #eee8ff80;
    opacity: 0%;
    transition-duration: 0.4s;
}

.password-form:hover i {
    opacity: 100%;
}